
<form class="text-left" action="/Home/Login" method="post" style="margin-bottom: 10px">

    <div class="form-group row">
        <div class="col-lg-4 offset-lg-4">
            <input type="text" id="currentKey" name="currentKey" class="form-control" autofocus />
        </div>
    </div>

    <input type="hidden" id="username" name="username" value="@ViewData["currentUser"]"/>
    <br />

    <div class="text-center">
        <input type="submit" name="" value="Login" class="btn btn-primary" />
    </div>
</form>