﻿@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    
    @if (ViewData["Message"] != null)
    {
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="alert alert-@ViewData["AlertType"]" role="alert">
                    @ViewData["Message"]
                </div>
            </div>
        </div>
    }

    @if (ViewData["Has2FA"] != null)
    {
        @if (ViewData["qrCode"] != null)
        {
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div>1. Please scan this qr-code with your google authenticator App on your device.</div>
                    <img src="@ViewData["qrCode"]"/>
                    <div>2. Keep the following 'security code' somwhere safe, it is needed in case you loose your device.</div>
                    <div class="col-lg-4 offset-lg-4" style="border: solid 1px black; padding: 2px;">@ViewData["secretKey"]</div>
                    <div style="margin: 5px 0">3. Enter the currently displayed code from your google authenticator App below.</div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <label>Please enter the currently displayed code from your google authenticator App.</label>
                </div>
            </div>
        }
        <partial name="_2FAForm" />
        @if(ViewData["qrCode"] == null)
        {
            @Html.ActionLink("I lost my Device", "Reset", "Home", new {username = ViewData["currentUser"]}, null);
        }
    }
    else
    {
        <partial name="_LoginForm" />
    }

</div>