@{
    ViewData["Title"] = "Reset";
}

<div class="text-center">
    <h1 class="display-4">Reset</h1>

    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <label>Please enter your 'security code' to reset your 2-factor-authentication.</label>
        </div>
    </div>


    <form class="text-left" action="/Home/Login" method="post">

        <div class="form-group row">
            <div class="col-lg-4 offset-lg-4">
                <input type="text" id="resetKey" name="resetKey" class="form-control" autofocus />
            </div>
        </div>

        <input type="hidden" id="username" name="username" value="@ViewData["currentUser"]"/>
        <br />

        <div class="text-center">
            <input type="submit" name="" value="Reset" class="btn btn-primary" />
        </div>
    </form>

</div>