/* Sets the needed height and width of all primary elements. */
html, body{
    height: 99%;
    width: 100%;
    margin: 0;
}
#iframe, #container_form, #container_button{
    width: 100%;
    margin: 0;
    border: none;
}
#iframe{
    height: 100%;
    z-index: 5;
}
#container_form{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}
#container_button{
    z-index: 0;
    position: absolute;
    top: 357px;
    left: 0;
}

.outerbox {
    z-index: 0;
    border: none;
    margin-top: 30px;
    padding: 180px 0 0 0;
    width: 100%;
}
.overlay{
    z-index: 0;
    height: 55px;
    padding: 1px 18px;
    width: 400px;
    margin: 0 auto;
}
.input_holder{
    z-index: 0;
    padding: 19px 6px 0;
}
.input{
    width: 350px;
    padding: 3px;
    font-size: 13px;
    z-index: 10;
}

#confirm_button{
    margin-left: 6px;
    padding: 2px 7px;
}