﻿@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 class="display-4">User Profile</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-right">
                <p>Username</p>
            </div>
            <div class="col-sm-6 font-weight-bold text-left">
                <p>@ViewBag.User.UserName</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-right">
                <p>First Name</p>
            </div>
            <div class="col-sm-6 font-weight-bold text-left">
                <p>@ViewBag.User.FirstName</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-right">
                <p>Last Name</p>
            </div>
            <div class="col-sm-6 font-weight-bold text-left">
                <p>@ViewBag.User.LastName</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 text-right">
                <p>Email</p>
            </div>
            <div class="col-sm-6 font-weight-bold text-left">
                <p>@ViewBag.User.Email</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a class="btn btn-dark mt-5" asp-action="Logout">Logout</a>
            </div>
        </div>
    </div>
</div>