@model SingleSignOn.Models.AuthentificationViewModel

@{
    ViewData["Title"] = "TwoFactorAuthentication";
}

<div style="flex-wrap: wrap; display: flex; justify-content: center;">
    @if(Model.QrCodeImageUrl != null)
    {
        <label style="width: 100%; text-align: center;">Please scan this qr-code with your google authenticator App on your device.</label>
        <img src="@Model.QrCodeImageUrl"/>   
    }
    else
    {
        <label>Please enter the currently displayed code from your google authenticator App.</label>
    }
</div>

<form class="text-left" action="/Profile" method="post" style="margin-bottom: 10px">
    <div class="form-group row">
        <div class="col-lg-4 offset-lg-4">
            <input type="text" id="currentKey" name="currentKey" class="form-control" autofocus required/>
        </div>
    </div>
    <br />
    <div class="text-center">
        <input type="submit" name="" value="Login" class="btn btn-primary" />
    </div>
</form>

<div style="justify-content: center; display: flex;">
    @if(Model.ErrorMessage != null)
    {
        <label style="color: red;">@Model.ErrorMessage</label>
    }
</div>